.em {
	&.em-view-container {
		p {
			margin: 0;
		}

		.em {
			&.em-list {
				// gap: 0;
			}
		}
	}
    .em-events-grid,
	.em-grid--posters {
		.em-item--poster {
			.em-icon {
				filter: brightness(0) invert(1) drop-shadow(0 1px 0 #fff) drop-shadow(1px 0 0 #fff);
			}
		}
	}
}

/* ==================================================
      Events Fixes
================================================== */
body.flexline .em.em-item.em-item-single .em-item-image img {
	padding: 0 !important;
	border-left: none;
 }

 .em-event-add-to-calendar-content,
 .tippy-box {
	min-width: 150px;
 }

.Registration-Closed {
	.registration {
		display: none;
	}
}
.em-grid {
	&--posters {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		gap: var(--wp--preset--spacing--medium);
	}
}

.em-item {
	&--poster {
		.wp-block-cover {
			position: relative;
			overflow: hidden;
			> img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:hover{
				.wp-block-cover__inner-container{
					padding-top: var(--wp--preset--spacing--xx-large, 80px) !important;
				}
			}
		}

		.wp-block-cover__inner-container {
			transition: var(--wp--custom--transition-time);
            --gradient-middle: color-mix(in srgb, var(--wp--preset--color--contrast) 60%, transparent);
			position: relative;
			z-index: 2;
            background: linear-gradient( to top, var(--wp--preset--color--contrast) 0%, var(--gradient-middle) 80%, transparent 100%) !important;
		}

		.em-item-kicker {
			text-transform: uppercase;
			letter-spacing: 0.08em;
			font-size: 0.85em;
			margin-bottom: var(--wp--preset--spacing--x-small);

			ul{
				list-style: none;
				padding:0;
				margin: 0 0 var(--wp--preset--spacing--x-small) 0;
			}
		}

		.em-item-action-link {
			//color: var(--wp--preset--color--base) !important;
			
		}
		a{
			color: var(--wp--preset--color--base) !important;
		}

        .rsvp-button{
			margin-top: var(--wp--preset--spacing--small);
			//justify-content: flex-end;
            /* default: hide RSVP */
            display: none;
			a {
				background: transparent none;
				background-color: transparent;
				border-color: currentColor;
				border-width: 1px;
				border-style: solid;
				//color: var(--wp--preset--color--primary);
				padding-top: calc( var(--wp--preset--spacing--medium) - 1px );
				padding-right: calc( var(--wp--preset--spacing--large) - 1px );
				padding-bottom: calc( var(--wp--preset--spacing--medium) - 1px );
				padding-left: calc( var(--wp--preset--spacing--large) - 1px );
				box-shadow: none;
			}
		} 
		
	}
}

/* only show when the attribute resolves to "Open" */
.Registration-Open {
	.em-item-action {
		display: flex;
	}
}



.flexline{
	--button-primary-color: var(--wp--preset--color--base) !important;
	.em.pixelbones{
		--accent-color: var(--wp--preset--color--primary) !important;
		--accent-color-hover: var(--wp--preset--color--primary-dark) !important;
	}
	span.flatpickr-weekday,
	.flatpickr-months .flatpickr-month,
	.flatpickr-current-month .flatpickr-monthDropdown-months,
	.flatpickr-weekdays {
		background: var(--wp--preset--color--neutral-light);
	}
	.flatpickr-day.today:focus, 
	.flatpickr-day.today:hover{
		background: var(--wp--preset--color--neutral);
	}
    .em.em-list,
    .em.em-list-widget{
        .em-item{
            &--poster{
                .em-item-meta .em-item-meta-line a {
                    color: var(--wp--preset--color--base) !important;
                    font-style: italic !important;
                    text-decoration: underline var(--wp--preset--color--base) 1px !important;
                    text-underline-offset: 3px;
                }
            }
        } 
    } 
	.em-event-categories.wp-block-button{
		display: inline-block;
		margin: var(--wp--preset--spacing--small) 0;
	} 
	&.single-event{
		.gform_button{
			background-color : var(--wp--preset--color--primary) !important;
		 }  
	} 
}

@include screen($mobile){
	.multi-line-events-search {
		padding: 10px 15px 15px 10px;
    	flex-wrap: wrap;
	}
 }