body header.site-header {
    &.headroom {
        z-index: 12;
        will-change: transform;
        transition: transform 200ms linear;
    }
    &.headroom--pinned {
        transform: translateY(0%);
    }
    &.headroom--unpinned {
        transform: translateY(-100%);
        *{
            margin-bottom: 0 !important;
        }
    }
    &.headroom--not-top {
        width: 100%;
        position: fixed !important;
        .headroom-hide-on-scroll {
            position: absolute;
            transform-origin: top center;
            transform: translateY(-100%);
        }
    }
}
