body header.site-header {
    position: fixed;
    width: 100%;
    &.headroom {
        z-index: 12;
        will-change: transform;
        transition: all 200ms linear;
    }
    &.headroom--pinned {
        transform: translateY(0%);
        opacity: 1;
        
    }
    &.headroom--unpinned {
      
        transform: translateY(-100%);
        opacity: 0;
        *{
            margin-bottom: 0 !important;
        }
        .headroom-hide-at-top{ 
            position: absolute;
            transform-origin: top center;
            transform: translateY(-100%);
            opacity: 0;
        }
    }
    &.headroom--not-top {
        width: 100%;
        position: fixed !important;
        
        .headroom-hide-on-scroll {
            position: absolute;
            transform-origin: top center;
            transform: translateY(-100%);
            opacity: 0;
        }
        .headroom-hide-at-top{ 
            position: relative;
            transform-origin: top center;
            transform: translateY(0);
            opacity: 1;
        }
        
    }
    &.headroom--top{
        
        .headroom-hide-at-top{ 
            position: absolute;
            transform-origin: top center;
            transform: translateY(-100%);
            opacity: 0;
        }
    }
    .headroom-hide-at-top{ 
        position: absolute;
        transform-origin: top center;
        transform: translateY(-100%);
        opacity: 0;
    }
}
