/* -- Navigation -- */

.wp-block-navigation__responsive-container.is-menu-open {
    padding: var(--wp--custom--spacing--gap);
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    padding-top: var(--wp--custom--spacing--gap);
}

.wp-block-navigation__responsive-container-close,
.wp-block-navigation__responsive-container-open {
    border: 1px solid currentcolor;
    padding: 2px;
}

.has-background .wp-block-navigation__responsive-container-open:focus,
.has-background .wp-block-navigation__responsive-container-open:hover {
    color: var(--wp--preset--color--base);
}


/* -- Navigation Submenu -- */
.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: var(--wp--preset--color--base);
    border: var(--wp--preset--color--base);
    padding: 10px;
}

.wp-block-navigation :where(.wp-block-navigation__submenu-container) a {
    padding: 2px 10px;
}

.wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
    padding-top: 0 !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.site-header .wp-block-navigation__container {
    .wp-block-navigation__submenu-container {
        min-width: 250px !important;
        transition: var(--wp--custom--transition-time);
        align-items: center;
        gap: 12px;

        a {
            text-align: center;
        }

        .wp-block-navigation-item__label {
            line-height: 1.1;
            text-align: center;
        }

        &.items-justified-center{
            .wp-block-navigation__submenu-container {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}



// Style Variations
.wp-block-navigation {

    &.is-style-main-header-nav .wp-block-navigation-item {

        *:not(.wp-element-button):not(span) {
            color: var(--wp--custom--nav-main-color);

            &:hover {
                color: var(--wp--custom--nav-main-hover-color);
            }
        }

        &.current-menu-item > a:not(.wp-element-button),
        > a.current-menu-ancestor,
        > a.current-menu-ancestor + button {
            color: var(--wp--custom--nav-main-hover-color);
        }
    }

    &.is-style-light-over-dark .wp-block-navigation-item {

        *:not(.wp-element-button):not(span) {
            color: var(--wp--custom--nav-light-over-dark-color);

            &:hover {
                color: var(--wp--custom--nav-light-over-dark-hover-color);
            }
        }

        &.current-menu-item > *:not(.wp-element-button),
        > a.current-menu-ancestor,
        > a.current-menu-ancestor + button {
            color: var(--wp--custom--nav-light-over-dark-hover-color);
        }
    }

    &.is-style-dark-over-light .wp-block-navigation-item {

        a:not(.wp-element-button) {
            color: var(--wp--custom--nav-dark-over-light-color);

            &:hover {
                color: var(--wp--custom--nav-dark-over-light-hover-color);
            }
        }

        &.current-menu-item > *:not(.wp-element-button),
        > a.current-menu-ancestor,
        > a.current-menu-ancestor + button {
            color: var(--wp--custom--nav-dark-over-light-hover-color);
        }
    }
}
