.flexline{
    // Yoast Breadcrumbs
    .yoast-breadcrumbs {
        //TODO: Add Yoast Breadcrumbs to the theme.json file and stye files.json
        //font-family: var(--wp--preset--font-family--display);
        //font-size: var(--wp--preset--font-size--small);
        //font-weight: var(--wp--custom--font-weight--regular);
    }

    // Events Single ( Tribe Events )
    h2.tribe-events-schedule__datetime,
    .tribe-events-schedule__datetime {
        font-family: var(--wp--preset--font-family--display);
        font-size: var(--wp--preset--font-size--small);
        font-weight: var(--wp--custom--font-weight--regular);
    }
}
