.editor-styles-wrapper,
body.flexline {
	// Events Single ( Tribe Events )
	h2.tribe-events-schedule__datetime,
	.tribe-events-schedule__datetime {
		font-family: var(--wp--preset--font-family--display);
		font-size: var(--wp--preset--font-size--small);
		font-weight: var(--wp--custom--font-weight--regular);
	}
}
