body,
.editor-styles-wrapper {
    // Mostly for buttons.
    .nowrap{
		white-space: nowrap;
		.wp-block-button__link{
			white-space: nowrap;
		}
	}
    // Position fixed
    .is-position-fixed {
		position: fixed;
		width: 100%;
		z-index: 10;
	}
    .is-position-absolute {
		position: absolute;
		width: 100%;
		z-index: 10;
	}

	.extra-z-index {
		z-index: 11 !important;
	}

	.pointer-events-none {
		pointer-events: none;
	}
	.pointer-events-auto {
		pointer-events: auto;
	}

	.is-aligned-center {
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;

		> * {
			justify-content: center !important;
			align-items: center !important;
			text-align: center !important;
		}
	}

	/* Opacity utilities */
	.opacity-0 { opacity: 0; }
	.opacity-10 { opacity: 0.1; }
	.opacity-20 { opacity: 0.2; }
	.opacity-30 { opacity: 0.3; }
	.opacity-40 { opacity: 0.4; }
	.opacity-50 { opacity: 0.5; }
	.opacity-60 { opacity: 0.6; }
	.opacity-70 { opacity: 0.7; }
	.opacity-80 { opacity: 0.8; }
	.opacity-90 { opacity: 0.9; }
	.opacity-100 { opacity: 1; }
    
    
    
    
    
    
    /* Media Queries
    ---------------------------------------- */

	@include screen($tablet){

		/* -- Order -- */

		.is-order-first-tablet {
			order: -1;
		}

		.is-order-0-tablet {
			order: 0;
		}

		.is-order-1-tablet {
			order: 1;
		}

		.is-order-2-tablet {
			order: 2;
		}

		.is-order-3-tablet {
			order: 3;
		}

		.is-order-4-tablet {
			order: 4;
		}

		.is-order-5-tablet {
			order: 5;
		}

		.is-order-6-tablet {
			order: 6;
		}

		.is-order-7-tablet {
			order: 7;
		}

		.is-order-8-tablet {
			order: 8;
		}

		.is-order-9-tablet {
			order: 9;
		}

		.is-order-last-tablet {
			order: 99999;
		}

		/* Flex alignment helpers (tablet) */
		.is-justify-content-center-tablet {
			justify-content: center !important;
		}
		.is-align-items-center-tablet {
			align-items: center !important;
		}
		.is-text-align-center-tablet {
			text-align: center !important;
		}
		.is-center-tablet {
			justify-content: center !important;
			align-items: center !important;
			text-align: center !important;
			> * {
				justify-content: center !important;
				align-items: center !important;
				text-align: center !important;
			}
		}

		/* Opacity utilities (tablet breakpoint) */
		.opacity-0-tablet { opacity: 0; }
		.opacity-10-tablet { opacity: 0.1; }
		.opacity-20-tablet { opacity: 0.2; }
		.opacity-30-tablet { opacity: 0.3; }
		.opacity-40-tablet { opacity: 0.4; }
		.opacity-50-tablet { opacity: 0.5; }
		.opacity-60-tablet { opacity: 0.6; }
		.opacity-70-tablet { opacity: 0.7; }
		.opacity-80-tablet { opacity: 0.8; }
		.opacity-90-tablet { opacity: 0.9; }
		.opacity-100-tablet { opacity: 1; }

		.no-padding-tablet {
			padding: 0 !important;
		}
		.no-horizontal-padding-tablet {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.no-vertical-padding-tablet {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.no-top-padding-tablet {
			padding-top: 0 !important;
		}	
		.no-bottom-padding-tablet {
			padding-bottom: 0 !important;
		}
		.no-left-padding-tablet {
			padding-left: 0 !important;
		}
		.no-right-padding-tablet {
			padding-right: 0 !important;
		}

	}

	@include screen($mobile){

		/* -- Order -- */

		.is-order-first-mobile {
			order: -1;
		}

		.is-order-0-mobile {
			order: 0;
		}

		.is-order-1-mobile {
			order: 1;
		}

		.is-order-2-mobile {
			order: 2;
		}

		.is-order-3-mobile {
			order: 3;
		}

		.is-order-4-mobile {
			order: 4;
		}

		.is-order-5-mobile {
			order: 5;
		}

		.is-order-6-mobile {
			order: 6;
		}

		.is-order-7-mobile {
			order: 7;
		}

		.is-order-8-mobile {
			order: 8;
		}

		.is-order-9-mobile {
			order: 9;
		}

		.is-order-last-mobile {
			order: 99999;
		}

        .is-justify-content-center-mobile {
            justify-content: center !important;
        }
		.is-align-items-center-mobile {
            align-items: center !important;
        }
		.is-text-align-center-mobile {
			text-align: center !important;
		}
		.is-center-mobile {
			justify-content: center !important;
			align-items: center !important;
			text-align: center !important;
			> * {
				justify-content: center !important;
				align-items: center !important;
				text-align: center !important;
			}
		}

		/* Opacity utilities (mobile breakpoint) */
		.opacity-0-mobile { opacity: 0; }
		.opacity-10-mobile { opacity: 0.1; }
		.opacity-20-mobile { opacity: 0.2; }
		.opacity-30-mobile { opacity: 0.3; }
		.opacity-40-mobile { opacity: 0.4; }
		.opacity-50-mobile { opacity: 0.5; }
		.opacity-60-mobile { opacity: 0.6; }
		.opacity-70-mobile { opacity: 0.7; }
		.opacity-80-mobile { opacity: 0.8; }
		.opacity-90-mobile { opacity: 0.9; }
		.opacity-100-mobile { opacity: 1; }

		.no-padding-mobile {
			padding: 0 !important;
		}
		.no-horizontal-padding-tablet {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.no-vertical-padding-mobile {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.no-top-padding-mobile {
			padding-top: 0 !important;
		}
		.no-bottom-padding-mobile {
			padding-bottom: 0 !important;
		}
		.no-left-padding-mobile {
			padding-left: 0 !important;
		}
		.no-right-padding-mobile {
			padding-right: 0 !important;
		}

	}

	@mixin screen($desktop){
		.no-padding-desktop {
			padding: 0 !important;
		}
		.no-horizontal-padding-desktop {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.no-vertical-padding-desktop {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.no-top-padding-desktop {
			padding-top: 0 !important;
		}
		.no-bottom-padding-desktop {
			padding-bottom: 0 !important;
		}
		.no-left-padding-desktop {
			padding-left: 0 !important;
		}
		.no-right-padding-desktop {
			padding-right: 0 !important;
		}
	}

}

