.is-position-fixed{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.is-header-position-fixed{
    position: fixed;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.has-primary-primaryDark-gradient-background{
    background: linear-gradient(90deg, var(--wp--preset--color--primary) 0%, var(--wp--custom--color--primary--dark) 100%);
}
.has-secondary-secondaryDark-gradient-background{
    background: linear-gradient(90deg, var(--wp--preset--color--secondary) 0%, var(--wp--custom--color--secondary--dark) 100%);
}
.has-alternate-alternateDark-gradient-background{
    background: linear-gradient(90deg, var(--wp--preset--color--alternate) 0%, var(--wp--custom--color--alternate--dark) 100%);
}
.has-neutral-neutralLight-gradient-background{
    background: linear-gradient(90deg, var(--wp--preset--color--neutral) 0%, var(--wp--preset--color--neutral-light) 100%);
}
.has-primary-secondary-gradient-background{
    background: linear-gradient(90deg, var(--wp--preset--color--primary) 0%, var(--wp--preset--color--secondary) 100%);
}






/* Media Queries
---------------------------------------- */

@media only screen and (max-width: 600px) {

    /* -- Order -- */

    .is-order-first-mobile{
        order: -1;
    }
    .is-order-0-mobile {
        order: 0;
    }
    .is-order-1-mobile {
        order: 1;
    }

    .is-order-2-mobile {
        order: 2;
    }

    .is-order-3-mobile {
        order: 3;
    }

    .is-order-4-mobile {
        order: 4;
    }

    .is-order-5-mobile {
        order: 5;
    }

    .is-order-6-mobile {
        order: 6;
    }

    .is-order-7-mobile {
        order: 7;
    }

    .is-order-8-mobile {
        order: 8;
    }

    .is-order-9-mobile {
        order: 9;
    }

    .is-order-last-mobile {
        order: 99999;
    }  

}

/* Media Queries
---------------------------------------- */

@media only screen and (max-width: 991px) {
    .is-style-horizontal-scroll-at-mobile:not(ul){
        > ul {
            position: relative;
            //display: flex;
            //justify-content: flex-start;
            overflow-y: hidden;
            overflow-x: auto;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
            white-space: nowrap; /* Ensure items are laid out in a single line */
            margin: 0 30px 0 0;
            
            > * {
                flex: 0 0 auto;
                text-wrap: nowrap;
                &:first-child{
                    margin-left: 0; 
                }
                &:last-child{
                    margin-right: 0; 
                }
            }
            padding:0;
            scrollbar-width: thin; /* "auto" or "thin" */
            scrollbar-color: rgba(0, 0, 0, .30) transparent; /* thumb and track color */
            &::-webkit-scrollbar{
                height: 3px; /* Height of the scrollbar */
                background-color: rgba(0, 0, 0, .30); /* Color of the scrollbar track */
            }
            &::-webkit-scrollbar-thumb {
                background-color: transparent;/* Color of the scroll thumb */
                border-radius: 2px; /* Roundness of the scroll thumb */
            }
        }
    }  
}
@media only screen and (max-width: 600px) {
    .is-style-horizontal-scroll-at-mobile:not(ul){
        &::after{
            font-family: 'Material Symbols Outlined';
            content: "chevron_right";
            display: inline-flex;
            position: absolute;
            left: calc(100% - 35px);
            color: inherit;
            font-size: 30px;
            top: 50%;
            transform: translate(0px, -60%);
            opacity: .5;
        }
        > ul {
            padding-bottom: 4px;
            display: flex;
            justify-content: flex-start;
            margin-right: 305x;
            
        }
    }  
}


.is-style-horizontal-scroll{
    
    &.wp-block-columns,
    &.wp-block-group,
    &.wp-block-post-template{
        position: relative;
        display: flex !important;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
        padding:10px var(--wp--preset--spacing--medium) 15px 0;
        max-height: 70vh;
        > * {
            max-height: calc(70vh - 40px);
            min-width: 300px;
            flex-shrink: 0;
            flex-grow: 0;
            &:first-child{
                margin-left: 0; 
            }
            &:last-child{
                margin-right: 0; 
            }
            &[class*="is-style-card"]{
                &.group-link{
                    max-width: 500px;
                }
            }
            &.wp-block-post{
                max-width: 325px;
            }
            &.wp-block-image img{
                max-width: 500px;
            }
        }
        scrollbar-width: thin; /* "auto" or "thin" */
        scrollbar-color: rgba(#000000, .30) transparent; /* thumb and track color */
        &::-webkit-scrollbar{
            height: 3px; /* Height of the scrollbar */
            background-color: rgba(#000000, .30); /* Color of the scrollbar track */
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;/* Color of the scroll thumb */
            border-radius: 2px; /* Roundness of the scroll thumb */
        }
    }
    
}
@media only screen and (max-width: 600px) {
    .is-style-horizontal-scroll{
        &.wp-block-columns,
        &.wp-block-group,
        &.wp-block-post-template{
            > * {
                //flex: 0 0 auto;
                max-width: 325px;
            }
            
        }

    }

}

.is-horizontal-scroll-btn{
    color: var(--wp--preset--color--base);
    background-color: var(--wp--preset--color--secondary);
    border-radius: var(--wp--custom--button-border-radius);
    box-shadow: var(--wp--custom--button-shadow);
    transition: var(--wp--custom--transition-time);
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        box-shadow: var(--wp--custom--button-shadow-hover);
        background-color: var(--wp--custom--color--secondary--dark);
    }
}

// Icon Font Settings
.is-style-horizontal-scroll-at-mobile:not(ul)::after,
.enable-lightbox > a::after,
figure.poster-gallery.has-nested-images > figure:first-of-type::after,
figure.wp-block-image.enable-lightbox::after
{
    font-variation-settings:var(--wp--custom--icon-settings);
}