// Screen size mixins
$m: 781.98px;
$tSmall: 782px;
$tLarge: 991.98px;
$d: 992px;
$dLarge: 1325px;
$mobile: "only screen and (max-width:#{$m})";
$tablet-down: "only screen and (max-width:#{$tLarge})";
$tablet: "only screen and (min-width:#{$tSmall}) and (max-width:#{$tLarge})";
$tablet-up: "only screen and (min-width:#{$tSmall})";
$desktop: "only screen and (min-width:#{$d})";
$desktop-large-down: "only screen and (max-width:#{$dLarge})";
$desktop-large: "only screen and (min-width:#{$dLarge})";


// Screen size Mixin

/*
 * Usage:
 @include screen($mobile){
    // CSS
 }
*/
@mixin screen($class) {
  @media #{$class} {
    @content;
  }
}