body,
.editor-styles-wrapper {
    .wp-block-gallery.has-nested-images figure.wp-block-image.is-style-rounded,
    figure.wp-block-image.is-style-rounded {
        border-radius: var(--wp--custom--image-border-radius);

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 8px 8px;
            background: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 30%) 70%, transparent);
            color: #fff;
            font-size: 13px;
        }

    }

    figure.wp-block-image.is-style-card {
        border-radius: var(--wp--custom--image-border-radius);
        box-shadow: var(--wp--custom--box-shadow);
    }
}