/* Media Queries
---------------------------------------- */
.editor-styles-wrapper,
body{
    @media only screen and (max-width:991.98px) {
        .is-style-horizontal-scroll-at-mobile:not(ul){
            > ul {
                position: relative;
                //display: flex;
                //justify-content: flex-start;
                overflow-y: hidden;
                overflow-x: auto;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
                -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
                white-space: nowrap; /* Ensure items are laid out in a single line */
                margin: 0 30px 0 0;
                
                > * {
                    flex: 0 0 auto;
                    text-wrap: nowrap;
                    white-space: nowrap;
                    &:first-child{
                        margin-left: 0; 
                    }
                    &:last-child{
                        margin-right: 0; 
                    }
                }
                padding:0;
                scrollbar-width: thin; /* "auto" or "thin" */
                scrollbar-color: rgba(0, 0, 0, .30) transparent; /* thumb and track color */
                &::-webkit-scrollbar{
                    height: 3px; /* Height of the scrollbar */
                    background-color: rgba(0, 0, 0, .30); /* Color of the scrollbar track */
                }
                &::-webkit-scrollbar-thumb {
                    background-color: transparent;/* Color of the scroll thumb */
                    border-radius: 2px; /* Roundness of the scroll thumb */
                }
            }
        }  
    }
    @media only screen and (max-width:991.98px) {
        .is-style-horizontal-scroll-at-mobile:not(ul){

            &::after{
                content: "";
                display: inline-flex;
                position: absolute;
                left: calc(100% - 35px);
                color: inherit;
                font-size: 30px;
                top: 50%;
                transform: translate(0px, -50%);
                opacity: .5;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                height: 50px;
                width: 25px;
            }
            > ul {
                //padding-bottom: 4px;
                display: flex;
                justify-content: flex-start;
                margin:0 35px 0 25px;
                white-space: nowrap;
                
            }
        }  
    }
    .is-style-horizontal-scroll{
        
        &.wp-block-columns,
        &.wp-block-group,
        &.wp-block-post-template{
            position: relative;
            display: flex !important;
            justify-content: flex-start;
            flex-wrap: nowrap;
            overflow-y: hidden;
            overflow-x: auto;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
            padding:10px var(--wp--preset--spacing--medium) 15px 0;
            max-height: 70vh;
            > *:not(button) {
                max-height: calc(70vh - 40px);
                min-width: 300px;
                flex-shrink: 0;
                flex-grow: 0;
                &:first-child{
                    margin-left: 0; 
                }
                &:last-child{
                    margin-right: 0; 
                }
                &[class*="is-style-card"]{
                    &.group-link{
                        max-width: 500px;
                    }
                }
                &.wp-block-post{
                    max-width: 325px;
                }
                &.wp-block-image img{
                    max-width: 500px;
                }
            }
            scrollbar-width: thin; /* "auto" or "thin" */
            scrollbar-color: rgba(#000000, .30) transparent; /* thumb and track color */
            &::-webkit-scrollbar{
                height: 3px; /* Height of the scrollbar */
                background-color: rgba(#000000, .30); /* Color of the scrollbar track */
            }
            &::-webkit-scrollbar-thumb {
                background-color: transparent;/* Color of the scroll thumb */
                border-radius: 2px; /* Roundness of the scroll thumb */
            }
        }
        
    }
    @media only screen and (max-width:781.98px) {
        .is-style-horizontal-scroll{
            &.wp-block-columns,
            &.wp-block-group,
            &.wp-block-post-template{
                > * {
                    //flex: 0 0 auto;
                    max-width: 325px;
                }
                
            }

        }

    }
    .is-horizontal-scroll-btn{
        color: var(--wp--preset--color--base);
        background-color: var(--wp--custom--deco-color);
        border-radius: var(--wp--custom--button-border-radius);
        box-shadow: var(--wp--custom--button-shadow);
        transition: var(--wp--custom--transition-time);
        width: 30px;
        height: 30px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
            box-shadow: var(--wp--custom--button-shadow-hover);
            background-color: color-mix(in lab, var(--wp--custom--deco-color), #000000 20%);
        }
        &:last-of-type{
            margin-left: 5px !important;
        }
    }
}