/* Media Queries
---------------------------------------- */

.block-editor-page .is-style-horizontal-fade > :not(.is-active) {
       opacity: 0;
       pointer-events: none;
}

body,
.editor-styles-wrapper {

	@include screen($tablet-down) {

               .is-style-horizontal-scroll-at-mobile:not(ul) {

                       >ul {
                               position: relative;
                               overflow-y: hidden;
                               overflow-x: auto;
                               -ms-overflow-style: none;
                               /* IE and Edge */
                               /* Firefox */
                               -webkit-overflow-scrolling: touch;
                               /* Smooth scrolling on touch devices */
                               display: flex;
                               justify-content: flex-start;
                               white-space: nowrap;
                               margin: 0 35px 0 25px;
                               padding: 0;
                               scrollbar-width: thin;
                               /* "auto" or "thin" */
                               scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
                               /* thumb and track color */

                               >* {
                                       flex: 0 0 auto;
                                       text-wrap: nowrap;
                                       white-space: nowrap;

                                       &:first-child {
                                               margin-left: 0;
                                       }

                                       &:last-child {
                                               margin-right: 0;
                                       }
                               }

                               &::-webkit-scrollbar {
                                       height: 3px;
                                       /* Height of the scrollbar */
                                       background-color: rgba(0, 0, 0, 0.3);
                                       /* Color of the scrollbar track */
                               }

                               &::-webkit-scrollbar-thumb {
                                       background-color: transparent;
                                       /* Color of the scroll thumb */
                                       border-radius: 2px;
                                       /* Roundness of the scroll thumb */
                               }
                       }

                       &::after {
                               content: "";
                               display: inline-flex;
                               position: absolute;
                               left: calc(100% - 35px);
                               color: inherit;
                               font-size: 30px;
                               top: 50%;
                               transform: translate(0, -50%);
                               opacity: 0.5;
                               background-size: contain;
                               background-position: center;
                               background-repeat: no-repeat;
                               height: 50px;
                               width: 25px;
                       }
               }
	}

	.is-style-horizontal-scroll {


		&.wp-block-columns,
		&.wp-block-post-template {
			position: relative;
			display: flex !important;
			justify-content: flex-start;
			flex-wrap: nowrap;
			overflow-y: hidden;
			overflow-x: auto;
			-ms-overflow-style: none;
			/* IE and Edge */
			/* Firefox */
			-webkit-overflow-scrolling: touch;

			/* Smooth scrolling on touch devices */
			>*:not(button) {
				min-width: 200px;
				flex-shrink: 0;
				flex-grow: 0;

				&[class*="is-style-card"] {

					&.group-link {
						max-width: 100%;
					}
				}

				&.wp-block-post {
					max-width: 325px;
					padding-right: var(--wp--preset--spacing--small);
				}
			}

			scrollbar-width: thin;
			/* "auto" or "thin" */
			scrollbar-color: rgba(#000, 0.3) transparent;

			/* thumb and track color */
			&::-webkit-scrollbar {
				height: 3px;
				/* Height of the scrollbar */
				background-color: rgba(#000, 0.3);
				/* Color of the scrollbar track */
			}

			&::-webkit-scrollbar-thumb {
				background-color: transparent;
				/* Color of the scroll thumb */
				border-radius: 2px;
				/* Roundness of the scroll thumb */
			}

			>*:has(.is-style-glass-card),
			>*:has(.is-style-card),
			>*:has(.is-style-card-alt),
			>*:has(.is-style-card-padded) {
				margin-bottom: 20px;
			}

		}

		// New styles for hiding the scrollbar.
		&.horizontal-scroller-loop,
		&.horizontal-scroller-hide-scrollbar {
			// Firefox:
			scrollbar-width: none;
			// IE & Edge:
			-ms-overflow-style: none;

			// WebKit browsers:
			&::-webkit-scrollbar {
				display: none;
			}
		}

		&.horizontal-scroller-loop {
			gap: 0px;

			.out-of-view {
				visibility: hidden;
				opacity: 0;
			}
		}

	}

	@include screen($mobile) {

		.is-style-horizontal-scroll {

			&.wp-block-columns,
			&.wp-block-post-template {

				>* {
					//flex: 0 0 auto;
					max-width: 100%;
				}

			}

		}

	}
	.horizontal-scroll-wrapper:has(.is-style-horizontal-fade) {
		position: relative;
		display: block;
		width: 100%;
		height: var(--horizontal-fader-height, 100%);
	}
	.is-style-horizontal-fade {
		position: relative;
		overflow: hidden;
		display: block;
        height: var(--horizontal-fader-height, 100%);
		width: 100%;
		>* {
			position: absolute;
			inset: 0;
			height: 100%;
			opacity: 0;
			transition: opacity var(--horizontal-fade-duration, 500ms) ease-in-out;
			pointer-events: none;
			width: 100%;
			flex-direction: column;
			display: flex;
			align-items: center;
			justify-content: center;
			> .wp-block-cover{
				width: 100%;
			}
		}

		>.is-active {
			opacity: 1;
			pointer-events: auto;
		}

        }
        .is-horizontal-scroll-btn {
                color: var(--wp--preset--color--base);
                background-color: var(--wp--custom--deco-color);
                border-radius: var(--wp--custom--button-border-radius);

		transition: var(--wp--custom--transition-time);
		width: 30px;
		height: 30px;
		padding: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 10;

		&:hover {
			box-shadow: var(--wp--custom--button-shadow-hover);
			background-color: color-mix(in lab, var(--wp--custom--deco-color), #000 20%);
		}
	}

	/* -----------------------------------------------------------------
   	Styles for Horizontal Scroller Navigation Buttons Positioning
	------------------------------------------------------------------ */

        .horizontal-scroller-nav-buttons {
                position: absolute;
                z-index: 10;
        }

	/* Horizontal Alignment */
.horizontal-scroller-buttons-horizontal-left {
                + .horizontal-scroller-nav-buttons {
                        left: 0;
                        right: auto;
                        margin-left: 10px;
                }
        }

.horizontal-scroller-buttons-horizontal-center {
                + .horizontal-scroller-nav-buttons {
                        left: 50%;
                        transform: translateX(-50%);
                }
        }

.horizontal-scroller-buttons-horizontal-right {
                + .horizontal-scroller-nav-buttons {
                        left: auto;
                        right: 0;
                        margin-right: 10px;
                }
        }

	/* Vertical Alignment Outside (default) */
.horizontal-scroller-buttons-vertical-bottom {
                + .horizontal-scroller-nav-buttons {
                        bottom: -40px;
                }

        }

.horizontal-scroller-buttons-vertical-top {
                + .horizontal-scroller-nav-buttons {
                        top: -40px;
                }
        }

	/* When Positioned Over (inside the container) */
.horizontal-scroller-buttons-over {
                &.horizontal-scroller-buttons-vertical-bottom {
                        + .horizontal-scroller-nav-buttons {
                                bottom: 10px;
                        }

                }

                &.horizontal-scroller-buttons-vertical-top {
                        + .horizontal-scroller-nav-buttons {
                                top: 10px;
                        }

                }
        }


	/* Scroller Button Backgrounds */
	.scroller-buttons-background-transparent+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: transparent;
		}
	}

	.scroller-buttons-background-white+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: var(--wp--preset--color--base);
		}
	}

	.scroller-buttons-background-black+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: var(--wp--preset--color--contrast);
		}
	}

	.scroller-buttons-background-gray+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: var(--wp--preset--color--neutral);
		}
	}

	.scroller-buttons-background-primary+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: var(--wp--preset--color--primary);
		}
	}

	.scroller-buttons-background-secondary+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: var(--wp--preset--color--secondary);
		}
	}

	.scroller-buttons-background-alternate+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			background-color: var(--wp--preset--color--alternate);
		}
	}

	/* Scroller Button Colors (Text) */
	.scroller-buttons-text-default+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--base);

			svg path {
				fill: var(--wp--preset--color--base) !important;
			}
		}
	}

	.scroller-buttons-text-white+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--base);

			svg path {
				fill: var(--wp--preset--color--base) !important;
			}
		}
	}

	.scroller-buttons-text-black+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--contrast);

			svg path {
				fill: var(--wp--preset--color--contrast) !important;
			}
		}
	}

	.scroller-buttons-text-gray+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--neutral);

			svg path {
				fill: var(--wp--preset--color--neutral) !important;
			}
		}
	}

	.scroller-buttons-text-primary+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--primary);

			svg path {
				fill: var(--wp--preset--color--primary) !important;
			}
		}
	}

	.scroller-buttons-text-secondary+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--secondary);

			svg path {
				fill: var(--wp--preset--color--secondary) !important;
			}
		}
	}

	.scroller-buttons-text-alternate+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			color: var(--wp--preset--color--alternate);

			svg path {
				fill: var(--wp--preset--color--alternate) !important;
			}
		}
	}

	/* Scroller Buttons Borders */
	.scroller-buttons-border-default+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: none;
		}
	}

	.scroller-buttons-border-none+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: none;
		}
	}

	.scroller-buttons-border-white+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: 1px solid var(--wp--preset--color--base);
		}
	}

	.scroller-buttons-border-black+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: 1px solid var(--wp--preset--color--contrast);
		}
	}

	.scroller-buttons-border-gray+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: 1px solid var(--wp--preset--color--neutral);
		}
	}

	.scroller-buttons-border-primary+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: 1px solid var(--wp--preset--color--primary);
		}
	}

	.scroller-buttons-border-secondary+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: 1px solid var(--wp--preset--color--secondary);
		}
	}

	.scroller-buttons-border-alternate+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			border: 1px solid var(--wp--preset--color--alternate);
		}
	}

	// Box Shadow
	.scroller-buttons-box-shadow+.horizontal-scroller-nav-buttons {
		.is-horizontal-scroll-btn {
			box-shadow: var(--wp--custom--button-shadow);
		}
	}

}