body,
.editor-styles-wrapper {

	@include screen($tablet-up){

		/* -- Navigation Link -- */
		// TODO: why is this like this?
		.wp-block-navigation-item.is-style-outline a {
			border: 1px solid currentcolor;
			padding: 8px 15px;
		}

	}

}
