/* Image Toggle visibility helpers */
.toggle-is-hidden {
	display: none !important;
}

.toggle-is-visible {
	display: block !important;
}

.visibility-toggle.active,
.visibility-toggle[aria-pressed="true"],
.visibility-toggle .wp-element-button.active,
.visibility-toggle .wp-element-button[aria-pressed="true"] {
    background-color: var(--wp--preset--color--primary-dark);
}
