.wp-block-template-part.utility {
    top: 0;
    right: 0;
    z-index: 999;
}
.wp-block-template-part.utility {
    .wp-block-group > * {
        opacity: .7;
        transition: var(--wp--custom--transition-time);
        -webkit-transition: var(--wp--custom--transition-time);
        -moz-transition: var(--wp--custom--transition-time);
        -ms-transition: var(--wp--custom--transition-time);
        -o-transition: var(--wp--custom--transition-time);
        transition-property: opacity;
    }
    .wp-block-group > *:hover {
        opacity: 1;
    }
    .wp-block-search__button-only{
        margin-bottom: 1px;
    }
    .wp-block-search__button-only .wp-block-search__inside-wrapper {
        margin:0;
        justify-content: flex-end;
        input{
            line-height: 25px;
            transform-origin: right center;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        button{
            padding:5px;
            max-width: 35px;
        }
    }
    .wp-block-navigation button {
        padding:5px;
        border: none;
        
    }
    .wp-block-search__button-only .wp-block-search__inside-wrapper button,
    .wp-block-navigation{
        border-radius:  0px !important;
        -webkit-border-radius:  0px !important;
        -moz-border-radius:  0px !important;
        -ms-border-radius:  0px !important;
        -o-border-radius:  0px !important;
    }   
}
body .admin-bar .wp-block-template-part.utility{
    top:var(--wp-admin--admin-bar--height);
}