<!-- wp:template-part {"slug":"slide-in","tagName":"div","className":"slide-in"} /-->

<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"},"metadata":{"name":"Events Template"}} -->
<main class="wp-block-group" style="margin-top:0">
	
	<!-- wp:pattern {"slug":"flexline/meta-page-seo"} /-->

	<!-- wp:pattern {"slug":"flexline/events-list-loop"} /-->

	<!-- wp:pattern {"slug":"flexline/cta-footer-large"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->






