<!-- wp:template-part {"slug":"slide-in","tagName":"div","className":"slide-in"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0">

	<!-- wp:pattern {"slug":"flexline/page-meta-seo"} /-->

	<!-- wp:paragraph -->
	<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla.
		Aenean lacinia bibendum nulla sed consectetur.</p>
	<!-- /wp:paragraph -->

	<!-- wp:paragraph -->
	<p>Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget
		risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed
		consectetur. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla.</p>
	<!-- /wp:paragraph -->

	<!-- wp:pattern {"slug":"flexline/posts-sticky-feature"} /-->

	<!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":""},"metadata":{"name":"Blog - Main page view "}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:query {"queryId":0,"query":{"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false,"perPage":9},"enhancedPagination":true,"align":"wide","layout":{"type":"constrained"}} -->
		<div class="wp-block-query alignwide">
			<!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":3}} -->

			<!-- wp:pattern {"slug":"flexline/post-grid-single-card-alt"} /-->

			<!-- /wp:post-template -->

			<!-- wp:query-pagination {"paginationArrow":"arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|neutral-dark"},":hover":{"color":{"text":"var:preset|color|highlight"}}}}},"layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"small","fontFamily":"display"} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
			<!-- /wp:query-pagination -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"flexline/cta-footer-large"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->