<!-- wp:template-part {"slug":"slide-in","tagName":"div","className":"slide-in"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0"}}},"layout":{"type":"constrained"},"metadata":{"name":"Archive Template"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    
    <!-- wp:pattern {"slug":"flexline/meta-archive"} /-->

	<!-- wp:group {"layout":{"type":"constrained","contentSize":""},"metadata":{"name":"Index List View"}} -->
	<div class="wp-block-group">
		<!-- wp:pattern {"slug":"flexline/posts-list"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"flexline/cta-large"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->