<!-- wp:template-part {"slug":"slide-in","tagName":"div","className":"slide-in"} /-->
<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","className":"site-content","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="margin-top:0">

	<!-- wp:pattern {"slug":"flexline/meta-feature-page"} /-->
	
	
  <!-- wp:heading -->
  <h1><!-- wp:term-title /--></h1>
  <!-- /wp:heading -->

  <!-- wp:term-description /-->

  <!-- wp:group {"align":"full","backgroundColor":"neutral"} -->
  <div class="wp-block-group alignfull has-neutral-background-color has-background">
    <!-- wp:shortcode -->
    [events_list scope="future" pagination=1 limit=10]
    <!-- /wp:shortcode -->
  </div>
  <!-- /wp:group -->
	<!-- wp:pattern {"slug":"flexline/cta-large"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-no-form","tagName":"footer","className":"site-footer"} /-->