#flexline-lightbox {
    box-sizing: border-box;
    
}

#flexline-lightbox img,
#flexline-lightbox video,
#flexline-lightbox iframe {
    /* Adjustments for better responsiveness */
    max-width: 90%;
    max-height: 80vh;
}

#flexline-lightbox span[role="button"] {
    /* Enhancements for the close button */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.7;
}

#flexline-lightbox span[role="button"]:hover,
#flexline-lightbox span[role="button"]:focus {
    opacity: 1;
    outline: none; /* For focus, consider a more accessible outline style */
}

/* Aspect Ratio Box */
.aspect-ratio-16-9 {
    position: absolute;
    width: 90%;
    padding-top: 56.25%;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}
@media only screen and (max-width:781.98px) {
    .aspect-ratio-16-9 {
        width: calc(100% - 10px);
    }
}

/* Make the iframe fill the aspect ratio box */
.aspect-ratio-16-9 iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

figure.wp-block-image.enable-lightbox{
    position: relative;
    cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color:var(--wp--custom--deco-color);
        border-radius: 200px;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
        line-height: 1;
        text-align: center;
        top: 5px;
        right: 5px;
        font-size: 25px;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &[data-popup-media-url*="youtube.com"],
    &[data-popup-media-url*="youtu.be"],
    &[data-popup-media-url*="vimeo.com"],
    &[data-popup-media-url*=".mp4"],
    &[data-popup-media-url*=".webm"],
    &[data-popup-media-url*=".ogg"]
     {
        &::after{
            content: "";
            right: unset;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
        }
        
    }
}

#flexline-lightbox .aspect-ratio-match-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
}

#flexline-lightbox .aspect-ratio-match-window iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}


.enable-lightbox > a{
    display: inline-flex;
    &::after{
        content: "";
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        line-height: 1;
    }
    &[data-popup-media-url*="youtube.com"],
    &[data-popup-media-url*="youtu.be"],
    &[data-popup-media-url*="vimeo.com"],
    &[data-popup-media-url*=".mp4"],
    &[data-popup-media-url*=".webm"],
    &[data-popup-media-url*=".ogg"],
    &[src*="youtube.com"],
    &[src*="youtu.be"],
    &[src*="vimeo.com"],
    &[src*=".mp4"],
    &[src*=".webm"],
    &[src*=".ogg"] {
        display: inline-flex;
        &::after{
            content: "";
            font-size: inherit;
            line-height: 1;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

// Poster Gallery
figure.poster-gallery.has-nested-images{
    position: relative;
    overflow: hidden;
	> figure{
		position: absolute !important;
		visibility: hidden;
        max-width: 100%;
	}
	> figure:first-of-type{
		position: relative !important;
		z-index: 1;
		visibility:visible;
		&::after{
			content: "";
			position: absolute;
			display: inline-block;
			justify-content: center;
			align-items: center;
			color: #fff;
			background-color:var(--wp--custom--deco-color);
			border-radius: 200px;
			opacity: 0.7;
			transition: all 0.3s ease-in-out;
			pointer-events: none;
			line-height: 1.3;
			text-align: center;
			top: 5px;
			right: 5px;
			font-size: 30px;
			width: 40px;
			height: 40px;
            background-position: center;
            background-repeat: no-repeat;
		}
		&:hover{
			&::after{
				opacity: 1;
			}
		}
	}
}