.wp-block-template-part.utility {
    top: 5px;
    right: 5px;
    z-index: 999;
}
.wp-block-template-part.utility {
    .wp-block-group > * {
        opacity: .9;
        transition: var(--wp--custom--transition-time);
        transition-property: opacity;
    }
    .wp-block-group > *:hover {
        opacity: 1;
    }
    .wp-block-search__button-only{
        margin-bottom: 5px;
    }
    .wp-block-search__button-only .wp-block-search__inside-wrapper {
        margin:0;
        justify-content: flex-end;
        input{
            line-height: 25px;
            transform-origin: right center;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        button{
            padding:5px;
            max-width: 35px;
        }
    }
    .wp-block-navigation button {
        padding:5px;
        border: none;
        
    }
    .wp-block-search__button-only .wp-block-search__inside-wrapper button,
    .wp-block-navigation{
        border-radius:  var(--wp--custom--border-radius) !important;    
    }
    .menu-item-home{
        display: none;
    }
}
.admin-bar .wp-block-template-part.utility{
    top:calc(var(--wp-admin--admin-bar--height) + 5px);
}
@media screen and (max-width: 991px) {
    .wp-block-template-part.utility {
        top: 3px;
        right: 3px;
        .wp-block-search__button-only{
            margin-bottom: 3px;
        }
    }
    .admin-bar .wp-block-template-part.utility{
        top:calc(var(--wp-admin--admin-bar--height) + 3px);
    }
    
}

@media screen and (min-width: 601px) {
    .wp-block-template-part.utility {
        .wp-block-pages-list__item{
            a{
                font-size: var(--wp--preset--font-size--large);
            }
        }
        .wp-block-navigation__submenu-container{
            display: flex;
            flex-direction:row;
            gap: 15px;
        }
        .wp-block-page-list{
            gap: 15px;
        }
    }
}